.ms-card {

    .template-1 {

        .media {

            .image {
                width: 100%;
                border-radius: 2px 2px 0 0;
            }
        }
    }
    .template-1 .subtitle{
        margin-bottom: 10px;
    }
    .template-1 .angular-google-map-container {
        height: 400px;
    }
}